/* custom.scss */
// custom.scss

// Configuración global
body {
    background-color: black;
    color: black;
  }
  
  a {
    color: green; // Color del enlace
  }
  
  // Estilo de los botones
  .btn {
    background-color: green;
    color: white;
  }
  
  // Puedes agregar más estilos personalizados según tus necesidades
  